In [35]:
# import packages
import pandas as pd
import numpy as np

# visualisation tools for maps
import folium
from folium.plugins import MarkerCluster

# iteration tool for loops
import itertools
from geopy import geocoders  

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv('redwine.csv',index_col = 0,sep=';',encoding ='ISO-8859-1')
df.columns = [c.replace(' ', '_') for c in df.columns]
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'taster_name', 'title', 'variety', 'winery', 'fixed_acidity',
       'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides',
       'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH',
       'sulphates', 'alcohol'],
      dtype='object')

In [3]:
geo = pd.read_csv('pt_infosolo.csv',sep=',',encoding ='ISO-8859-1')

geo.sample(5)

# 4 tables: SOIL, PROPERTIES, METHODS, DESCRIPTION

,X,Y,pt_infosolo_site_id,pt_infosolo_horizon_id,profile_code,longitude,latitude,altitude,coordinates,year,...,k_ex,na_ex,cations_m,cec,cec_m,v,theta_fc,theta_wp,theta_m,institution
9735,-8.228889,38.722222,3397,9733,B261,-8.228889,38.722222,215,Available,2007,...,0.17,0.18,Ammonium acetate at pH 7.0,7.10,Ammonium acetate at pH 7.0,44.5,0.1624,0.0610,Pedotransfer functions for estimating soil wat...,Instituto da ConservaÃ§Ã£o da Natureza e das F...
955,-6.974849,40.901670,285,956,Z22,-6.974849,40.901670,650,Available,2004,...,NaN,NaN,Not determined,NaN,Not determined,NaN,0.2375,0.0976,Pedotransfer functions for estimating soil wat...,DirecÃ§Ã£o Geral de Agricultura e do Desenvolv...
921,-6.918020,40.895240,275,922,Z7,-6.918020,40.895240,630,Available,2004,...,0.34,0.11,Not discriminated (Ammonium acetate at pH 7.0 ...,7.20,Not discriminated (Ammonium acetate at pH 7.0 ...,66.6,0.1562,0.0525,Pedotransfer functions for estimating soil wat...,DirecÃ§Ã£o Geral de Agricultura e do Desenvolv...
745,-7.183242,39.829200,225,745,F38,-7.183242,39.829200,240,Available,2003,...,0.60,0.02,Not discriminated (Ammonium acetate at pH 7.0 ...,13.45,Not discriminated (Ammonium acetate at pH 7.0 ...,96.2,0.2358,0.1577,Pedotransfer functions for estimating soil wat...,DirecÃ§Ã£o Geral de Agricultura e do Desenvolv...
3163,-8.529424,41.354930,938,3154,136Q,-8.529424,41.354930,60,Estimated,1996,...,NaN,NaN,Not determined,NaN,Not determined,NaN,0.3514,0.1361,Pedotransfer functions for estimating soil wat...,DirecÃ§Ã£o Regional de Agricultura e Pescas do...

In [4]:
geo.describe()

,X,Y,pt_infosolo_site_id,pt_infosolo_horizon_id,longitude,latitude,altitude,year,hor_top,hor_bot,...,ph,caco3,ca_ex,mg_ex,k_ex,na_ex,cec,v,theta_fc,theta_wp
count,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,9934.000000,...,9732.000000,9658.000000,8310.000000,8312.000000,8257.000000,8338.000000,8880.000000,8252.000000,9934.000000,9934.000000
mean,-8.093628,40.223409,1587.847997,4967.500000,-8.093627,40.223409,242.720757,1995.833702,33.988122,60.757198,...,5.799661,1.441292,4.608869,1.559288,0.138527,0.274214,13.573592,40.824915,0.253200,0.126342
std,0.580446,1.452643,988.451126,2867.843121,0.580446,1.452643,223.327026,9.522651,35.761321,39.994216,...,1.148834,7.249919,7.135111,2.822231,0.153329,0.885835,8.914840,34.354032,0.066793,0.061937
min,-9.409583,37.020990,1.000000,1.000000,-9.409583,37.020990,1.000000,1966.000000,0.000000,2.000000,...,3.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.057400,0.013900
25%,-8.516191,38.905887,726.000000,2484.250000,-8.516191,38.905887,86.000000,1993.000000,0.000000,28.000000,...,5.000000,0.000000,0.730000,0.150000,0.050000,0.050000,7.340000,11.875000,0.227700,0.089200
50%,-8.208958,40.871480,1508.000000,4967.500000,-8.208958,40.871480,188.000000,1996.000000,25.000000,50.000000,...,5.400000,0.000000,1.810000,0.370000,0.100000,0.100000,11.350000,28.700000,0.246800,0.111800
75%,-7.751725,41.462960,2444.000000,7450.750000,-7.751725,41.462960,310.000000,2002.000000,55.000000,85.000000,...,6.300000,0.000000,4.777500,1.400000,0.180000,0.200000,17.382500,72.325000,0.282500,0.143300
max,-6.255000,42.130780,3461.000000,9934.000000,-6.255000,42.130780,1880.000000,2016.000000,270.000000,400.000000,...,9.900000,97.600000,55.870000,42.450000,2.620000,27.300000,65.300000,100.000000,0.475300,0.333600

Below we drop all the rows from before the year 1995, because they might not be reliable anymore and our oldest wines are

In [5]:
geo = geo[geo.year > 1995]
geo.describe()

,X,Y,pt_infosolo_site_id,pt_infosolo_horizon_id,longitude,latitude,altitude,year,hor_top,hor_bot,...,ph,caco3,ca_ex,mg_ex,k_ex,na_ex,cec,v,theta_fc,theta_wp
count,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,...,5221.000000,5169.000000,4342.000000,4342.000000,4322.000000,4341.00000,4813.000000,4316.000000,5400.000000,5400.000000
mean,-8.049830,39.920313,1568.927778,4901.604630,-8.049828,39.920314,256.981296,2001.940741,31.188704,57.344815,...,5.840663,1.465022,5.037004,1.689809,0.127536,0.25027,13.518007,42.849930,0.248416,0.123306
std,0.507291,1.406572,1042.072041,3060.512095,0.507290,1.406573,212.071415,5.346055,35.497008,39.985508,...,1.144105,7.486849,7.927246,2.785593,0.120021,0.56120,9.548067,33.669103,0.066433,0.061906
min,-9.361440,37.061740,1.000000,1.000000,-9.361440,37.061740,3.000000,1996.000000,0.000000,2.000000,...,3.400000,0.000000,0.000000,0.000000,0.000000,0.00000,0.100000,0.000000,0.057400,0.013900
25%,-8.441107,38.492427,676.000000,2326.750000,-8.441107,38.492427,110.000000,1996.000000,0.000000,25.000000,...,5.000000,0.000000,0.910000,0.200000,0.060000,0.06000,6.940000,15.000000,0.221300,0.087800
50%,-8.094403,40.152255,1497.000000,4919.500000,-8.094403,40.152255,200.000000,2002.000000,25.000000,47.500000,...,5.400000,0.000000,1.955000,0.420000,0.100000,0.10000,10.870000,31.350000,0.246800,0.111200
75%,-7.730507,41.121670,2327.250000,7303.250000,-7.730507,41.121670,330.000000,2007.000000,50.000000,80.000000,...,6.300000,0.000000,4.937500,1.570000,0.170000,0.21000,17.480000,74.900000,0.282200,0.141100
max,-6.255000,42.126960,3461.000000,9934.000000,-6.255000,42.126960,1880.000000,2016.000000,270.000000,300.000000,...,9.900000,80.100000,55.870000,20.250000,2.170000,7.59000,65.300000,100.000000,0.457100,0.329100

In [6]:
geo.columns

Index(['X', 'Y', 'pt_infosolo_site_id', 'pt_infosolo_horizon_id',
       'profile_code', 'longitude', 'latitude', 'altitude', 'coordinates',
       'year', 'soil', 'qualifier1', 'qualifier2', 'qualifier3', 'wrb_m',
       'parent_material', 'land_use', 'hor_top', 'hor_bot', 'hor_name',
       'coarse', 'cs', 'fs', 'si', 'c', 'texture_m', 'bd', 'bd_m', 'oc',
       'oc_m', 'n', 'n_m', 'p', 'p_m', 'k', 'k_m', 'ph', 'ph_m', 'caco3',
       'caco3_m', 'ca_ex', 'mg_ex', 'k_ex', 'na_ex', 'cations_m', 'cec',
       'cec_m', 'v', 'theta_fc', 'theta_wp', 'theta_m', 'institution'],
      dtype='object')

In [7]:
geo.dtypes

X                         float64
Y                         float64
pt_infosolo_site_id         int64
pt_infosolo_horizon_id      int64
profile_code               object
longitude                 float64
latitude                  float64
altitude                    int64
coordinates                object
year                        int64
soil                       object
qualifier1                 object
qualifier2                 object
qualifier3                 object
wrb_m                      object
parent_material            object
land_use                   object
hor_top                   float64
hor_bot                   float64
hor_name                   object
coarse                    float64
cs                        float64
fs                        float64
si                        float64
c                         float64
texture_m                  object
bd                        float64
bd_m                       object
oc                        float64
oc_m                       object
n                         float64
n_m                        object
p                         float64
p_m                        object
k                         float64
k_m                        object
ph                        float64
ph_m                       object
caco3                     float64
caco3_m                    object
ca_ex                     float64
mg_ex                     float64
k_ex                      float64
na_ex                     float64
cations_m                  object
cec                       float64
cec_m                      object
v                         float64
theta_fc                  float64
theta_wp                  float64
theta_m                    object
institution                object
dtype: object

In [8]:
# Creating a copy so that the original dataframe stays in tact.
geo_tmp = geo.copy()

In [9]:
# Dropping rows without a soil value
geo_tmp['soil'].dropna(inplace = True)

geo_tmp.drop(geo_tmp.loc[geo_tmp['soil'].isnull()].index, inplace=True)

In [10]:
# Checking if there are still rows without a soil value
geo_tmp['soil'].isnull().value_counts()

False    4736
Name: soil, dtype: int64

In [11]:
#Dropping unnecessary columns

geo_tmp.drop(['X', 'Y', 'pt_infosolo_site_id', 'pt_infosolo_horizon_id',
       'profile_code', 'altitude', 'coordinates',
       'year', 'qualifier1', 'qualifier2', 'qualifier3', 'wrb_m',
       'parent_material', 'land_use', 'hor_top', 'hor_bot', 'hor_name',
       'coarse', 'cs', 'fs', 'si', 'c', 'texture_m', 'bd', 'bd_m', 'oc',
       'oc_m', 'n', 'n_m', 'p', 'p_m', 'k', 'k_m', 'ph_m', 'caco3',
       'caco3_m', 'ca_ex', 'mg_ex', 'k_ex', 'na_ex', 'cations_m', 'cec',
       'cec_m', 'v', 'theta_fc', 'theta_wp', 'theta_m', 'institution'], axis=1)

      longitude  latitude       soil   ph
0     -7.049093  40.87148   Regosols  5.2
1     -7.049093  40.87148   Regosols  5.5
2     -6.952317  40.58386   Regosols  4.9
3     -6.952317  40.58386   Regosols  5.2
4     -6.862586  40.75609  Cambisols  5.4
...         ...       ...        ...  ...
9929  -8.215300  37.96832  Planosols  6.7
9930  -8.215300  37.96832  Planosols  7.4
9931  -8.215300  37.96832  Planosols  7.5
9932  -8.215300  37.96832  Planosols  7.1
9933  -8.215300  37.96832  Planosols  7.7

[4736 rows x 4 columns]

In [12]:
# Different types of soil and their frequencies
geo_tmp['soil'].value_counts()

Cambisols      1052
Regosols        779
Anthrosols      745
Luvisols        666
Fluvisols       329
Umbrisols       201
Vertisols       177
Arenosols       154
Calcisols       140
Acrisols        125
Leptosols       102
Planosols        54
Podzols          50
Solonetz         39
Alisols          34
Gleysols         27
Ferralsols       27
Lixisols         14
Plinthosols      12
Stagnosols        8
Cambisol          1
Name: soil, dtype: int64

In [13]:
geo_tmp.drop_duplicates(subset=['latitude', 'longitude'],keep='last', inplace=True)
# Removing duplicate coördinates to thin out the amount of markers on the map

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test =train_test_split(geo_tmp[['latitude','longitude']],geo_tmp.soil,random_state = 12345, test_size =.2)

no = KNeighborsClassifier(n_neighbors=3)
no.fit(X_train,y_train)

accuracy_score(no.predict(X_test),y_test)

0.38311688311688313

In [15]:
# 
#from folium.plugins import MarkerCluster
#soil_locations = geo_tmp[["latitude", "longitude", "soil"]]

#m = folium.Map(location=[soil_locations.latitude.mean(), soil_locations.longitude.mean()], zoom_start=7, control_scale=True, prefer_canvas=True)

#for i, location in soil_locations.iterrows():
#    folium.Marker([location["latitude"], location["longitude"]], popup=location["soil"]).add_to(m)
    
#m

In [16]:
#province wines: (30)

# Douro                    880
# Alentejano               535
# Tejo                     274
# Lisboa                   228
# Dão                      176
# Alentejo                 126
# Bairrada                  66
# Península de Setúbal      44
# Beira Interior            18
# Setubal                   13
# Estremadura               12
# Ribatejano                11
# Ribatejo                  10
# Trás-os-Montes             8
# Algarve                    8
# Obidos                     8
# Portuguese Table Wine      8
# Alenquer                   6
# Duriense                   5
# Beiras                     5
# Terras do Dão              4
# Terras do Sado             4
# Vinho Verde                4
# Beira Atlantico            3
# Minho                      3
# Palmela                    2
# Portugal                   1
# Vinho da Mesa              1
# Vinho Licoroso             1
# Table wine                 1

In [17]:


df.dropna(inplace=True)
# df.drop_duplicates(inplace=True)
df_by_province = df.groupby('province')

groups = df_by_province.groups

province_wineries = {}

for k, v in groups.items():
    wineries = list({df.loc[x]['winery'] for x in v})
    province_wineries[k] = wineries


def get_province(winery):
    for k, v in province_wineries.items():
        if winery in v:
            return k


province_wineries

get_province("Terras de Alter")

'Alentejano'

In [18]:
lst_all_provinces = list(province_wineries.keys())
lst_all_provinces.remove('Portugal')
lst_all_provinces.remove('Portuguese Table Wine')
lst_all_provinces.remove('Table wine')
print(lst_all_provinces)

['Alenquer', 'Alentejano', 'Alentejo', 'Algarve', 'Bairrada', 'Beira Atlantico', 'Beira Interior', 'Beiras', 'Douro', 'Duriense', 'Dão', 'Estremadura', 'Lisboa', 'Minho', 'Obidos', 'Palmela', 'Península de Setúbal', 'Ribatejano', 'Ribatejo', 'Setubal', 'Tejo', 'Terras do Dão', 'Terras do Sado', 'Trás-os-Montes', 'Vinho Licoroso', 'Vinho Verde', 'Vinho da Mesa']

In [19]:
import requests
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyAGB87IpIn12wgutDClLs3sn65B-HMxVHM')
la_lo = (str(geo['latitude'].iloc[1]) + "," + str(geo['longitude'].iloc[1]))
gmaps.reverse_geocode(la_lo)

[{'address_components': [{'long_name': 'VXC2+H9',
    'short_name': 'VXC2+H9',
    'types': ['plus_code']},
   {'long_name': 'Colmeal',
    'short_name': 'Colmeal',
    'types': ['locality', 'political']},
   {'long_name': 'Guarda',
    'short_name': 'Guarda',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440',
    'short_name': '6440',
    'types': ['postal_code', 'postal_code_prefix']}],
  'formatted_address': 'VXC2+H9 Colmeal, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 40.8715,
     'lng': -7.048999999999999},
    'southwest': {'lat': 40.871375, 'lng': -7.049125}},
   'location': {'lat': 40.87148000000001, 'lng': -7.049093},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 40.8727864802915,
     'lng': -7.047713519708498},
    'southwest': {'lat': 40.8700885197085, 'lng': -7.050411480291503}}},
  'place_id': 'GhIJHo8ZqIxvREARodl1b0UyHMA',
  'plus_code': {'compound_code': 'VXC2+H9 Colmeal, Portugal',
   'global_code': '8CGJVXC2+H9'},
  'types': ['plus_code']},
 {'address_components': [{'long_name': '18',
    'short_name': '18',
    'types': ['street_number']},
   {'long_name': 'Travessa das Eiras',
    'short_name': 'Tv. das Eiras',
    'types': ['route']},
   {'long_name': 'Guarda',
    'short_name': 'Guarda',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440-221',
    'short_name': '6440-221',
    'types': ['postal_code']}],
  'formatted_address': 'Tv. das Eiras 18, 6440-221, Portugal',
  'geometry': {'location': {'lat': 40.8719836, 'lng': -7.0521748},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 40.8733325802915,
     'lng': -7.050825819708497},
    'southwest': {'lat': 40.8706346197085, 'lng': -7.053523780291502}}},
  'place_id': 'ChIJj3QuB_1iPA0RfkRJddpJIL4',
  'plus_code': {'compound_code': 'VWCX+Q4 Colmeal, Portugal',
   'global_code': '8CGJVWCX+Q4'},
  'types': ['street_address']},
 {'address_components': [{'long_name': '7',
    'short_name': '7',
    'types': ['street_number']},
   {'long_name': 'Rua da Amoreira',
    'short_name': 'R. da Amoreira',
    'types': ['route']},
   {'long_name': 'Guarda',
    'short_name': 'Guarda',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440-221',
    'short_name': '6440-221',
    'types': ['postal_code']}],
  'formatted_address': 'R. da Amoreira 7, 6440-221, Portugal',
  'geometry': {'location': {'lat': 40.8722761, 'lng': -7.0519305},
   'location_type': 'RANGE_INTERPOLATED',
   'viewport': {'northeast': {'lat': 40.8736250802915,
     'lng': -7.050581519708498},
    'southwest': {'lat': 40.8709271197085, 'lng': -7.053279480291502}}},
  'place_id': 'EhpSLiBkYSBBbW9yZWlyYSA3LCBQb3J0dWdhbCIaEhgKFAoSCSWpZg_9YjwNES3bW1j45NLsEAc',
  'types': ['street_address']},
 {'address_components': [{'long_name': 'Rua Infante Dom Henrique',
    'short_name': 'Rua Infante Dom Henrique',
    'types': ['route']},
   {'long_name': 'Guarda',
    'short_name': 'Guarda',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440',
    'short_name': '6440',
    'types': ['postal_code', 'postal_code_prefix']}],
  'formatted_address': 'Rua Infante Dom Henrique, 6440, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 40.8854816, 'lng': -7.0392675},
    'southwest': {'lat': 40.8726554, 'lng': -7.0514133}},
   'location': {'lat': 40.8794175, 'lng': -7.046055},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 40.8854816, 'lng': -7.0392675},
    'southwest': {'lat': 40.8726554, 'lng': -7.0514133}}},
  'place_id': 'ChIJY-t8YBljPA0RdCrje7FZEyE',
  'types': ['route']},
 {'address_components': [{'long_name': 'Penha de Águia',
    'short_name': 'Penha de Águia',
    'types': ['administrative_area_level_3', 'political']},
   {'long_name': 'Guarda District',
    'short_name': 'Guarda District',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440',
    'short_name': '6440',
    'types': ['postal_code', 'postal_code_prefix']}],
  'formatted_address': 'Penha de Águia, 6440, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 40.8935343, 'lng': -7.0272634},
    'southwest': {'lat': 40.8391825, 'lng': -7.109014}},
   'location': {'lat': 40.8584345, 'lng': -7.065978299999999},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 40.8935343, 'lng': -7.0272634},
    'southwest': {'lat': 40.8391825, 'lng': -7.109014}}},
  'place_id': 'ChIJXQguo4piPA0RUMiQ5L3rAAU',
  'types': ['administrative_area_level_3', 'political']},
 {'address_components': [{'long_name': '6440',
    'short_name': '6440',
    'types': ['postal_code', 'postal_code_prefix']},
   {'long_name': 'Guarda District',
    'short_name': 'Guarda District',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']}],
  'formatted_address': '6440, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 41.0364111, 'lng': -6.8001727},
    'southwest': {'lat': 40.7485076, 'lng': -7.122245899999999}},
   'location': {'lat': 40.8696841, 'lng': -6.9638624},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 41.0364111, 'lng': -6.8001727},
    'southwest': {'lat': 40.7485076, 'lng': -7.122245899999999}}},
  'place_id': 'ChIJy1DYWSBlPA0RcLk7DsHrABw',
  'types': ['postal_code', 'postal_code_prefix']},
 {'address_components': [{'long_name': 'Figueira de Castelo Rodrigo',
    'short_name': 'Figueira de Castelo Rodrigo',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Guarda District',
    'short_name': 'Guarda District',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']},
   {'long_name': '6440',
    'short_name': '6440',
    'types': ['postal_code', 'postal_code_prefix']}],
  'formatted_address': 'Figueira de Castelo Rodrigo, 6440, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 41.0364125,
     'lng': -6.800155200000001},
    'southwest': {'lat': 40.7485095, 'lng': -7.122247199999999}},
   'location': {'lat': 40.8696841, 'lng': -6.9638624},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 41.0364125, 'lng': -6.800155200000001},
    'southwest': {'lat': 40.7485095, 'lng': -7.122247199999999}}},
  'place_id': 'ChIJy1DYWSBlPA0R0DSQ5L3rAAQ',
  'types': ['administrative_area_level_2', 'political']},
 {'address_components': [{'long_name': 'Guarda District',
    'short_name': 'Guarda District',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']}],
  'formatted_address': 'Guarda District, Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 41.1793516,
     'lng': -6.780960599999999},
    'southwest': {'lat': 40.2299187, 'lng': -7.8492267}},
   'location': {'lat': 40.5385972, 'lng': -7.267577199999999},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 41.1793516, 'lng': -6.780960599999999},
    'southwest': {'lat': 40.2299187, 'lng': -7.8492267}}},
  'place_id': 'ChIJsXnCIOfsPA0RoCyQ5L3rAAM',
  'types': ['administrative_area_level_1', 'political']},
 {'address_components': [{'long_name': 'Portugal',
    'short_name': 'PT',
    'types': ['country', 'political']}],
  'formatted_address': 'Portugal',
  'geometry': {'bounds': {'northeast': {'lat': 42.1543111,
     'lng': -6.189159200000001},
    'southwest': {'lat': 32.2895, 'lng': -31.4647999}},
   'location': {'lat': 39.39987199999999, 'lng': -8.224454},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 42.1543111, 'lng': -6.189159200000001},
    'southwest': {'lat': 32.2895, 'lng': -31.4647999}}},
  'place_id': 'ChIJ1SZCvy0kMgsRQfBOHAlLuCo',
  'types': ['country', 'political']}]

In [20]:
#http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=false

import requests
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyAGB87IpIn12wgutDClLs3sn65B-HMxVHM')
locations={}

for i in range(0,len(geo_tmp)):
    #pas op, longitude/latitude andersom bij google
    la_lo = (str(geo['latitude'].iloc[i]) + "," + str(geo['longitude'].iloc[i]))
    full_loc = gmaps.reverse_geocode(la_lo)
    for x in range(len(full_loc)-1):
        locations[f'{i}_{x}'] = gmaps.reverse_geocode(la_lo)[x]
        locations[f'{i}_{x}']['latitude'] = geo['latitude'].iloc[i]
        locations[f'{i}_{x}']['longitude'] = geo['longitude'].iloc[i]
        locations[f'{i}_{x}'].pop('types')
print(len(locations))
big_lo_la_df = pd.DataFrame.from_dict(locations).transpose()

big_lo_la_df

10919

,address_components,formatted_address,geometry,place_id,plus_code,latitude,longitude
0_0,"[{'long_name': 'VXC2+H9', 'short_name': 'VXC2+...","VXC2+H9 Colmeal, Portugal","{'bounds': {'northeast': {'lat': 40.8715, 'lng...",GhIJHo8ZqIxvREARodl1b0UyHMA,"{'compound_code': 'VXC2+H9 Colmeal, Portugal',...",40.87148,-7.049093
0_1,"[{'long_name': '18', 'short_name': '18', 'type...","Tv. das Eiras 18, 6440-221, Portugal","{'location': {'lat': 40.8719836, 'lng': -7.052...",ChIJj3QuB_1iPA0RfkRJddpJIL4,"{'compound_code': 'VWCX+Q4 Colmeal, Portugal',...",40.87148,-7.049093
0_2,"[{'long_name': '7', 'short_name': '7', 'types'...","R. da Amoreira 7, 6440-221, Portugal","{'location': {'lat': 40.8722761, 'lng': -7.051...",EhpSLiBkYSBBbW9yZWlyYSA3LCBQb3J0dWdhbCIaEhgKFA...,NaN,40.87148,-7.049093
0_3,"[{'long_name': 'Rua Infante Dom Henrique', 'sh...","Rua Infante Dom Henrique, 6440, Portugal","{'bounds': {'northeast': {'lat': 40.8854816, '...",ChIJY-t8YBljPA0RdCrje7FZEyE,NaN,40.87148,-7.049093
0_4,"[{'long_name': 'Penha de Águia', 'short_name':...","Penha de Águia, 6440, Portugal","{'bounds': {'northeast': {'lat': 40.8935343, '...",ChIJXQguo4piPA0RUMiQ5L3rAAU,NaN,40.87148,-7.049093
...,...,...,...,...,...,...,...
1537_5,"[{'long_name': 'Canedo', 'short_name': 'Canedo...","Canedo, 4870 Canedo, Portugal","{'bounds': {'northeast': {'lat': 41.6523853, '...",ChIJmT6_DBArOw0RICSR5L3rAAU,NaN,41.62,-7.733886
1537_6,"[{'long_name': 'Canedo', 'short_name': 'Canedo...","4870 Canedo, Portugal","{'bounds': {'northeast': {'lat': 41.6523853, '...",ChIJX--pg1MqOw0R35bFqXBmiPg,NaN,41.62,-7.733886
1537_7,"[{'long_name': '4870', 'short_name': '4870', '...","4870, Portugal","{'bounds': {'northeast': {'lat': 41.6523901, '...",ChIJWYD8f93SJA0RcMs7DsHrABw,NaN,41.62,-7.733886
1537_8,"[{'long_name': 'Ribeira de Pena', 'short_name'...","Ribeira de Pena, 4870, Portugal","{'bounds': {'northeast': {'lat': 41.6523853, '...",ChIJr4KOfMvSJA0RJzvxamRZJO4,NaN,41.62,-7.733886
1537_9,"[{'long_name': 'Vila Real District', 'short_na...","Vila Real District, Portugal","{'bounds': {'northeast': {'lat': 41.9270957, '...",ChIJrS32IGbeOg0RjsQ8ybgq0dc,NaN,41.62,-7.733886

In [21]:
province_soil = {}
for p in lst_all_provinces:
    for i in range(len(list(big_lo_la_df.formatted_address))):
        #print(type(big_lo_la_df.iloc[i].formatted_address))
        if p in big_lo_la_df.iloc[i].formatted_address:
            #print(big_lo_la_df.iloc[i].formatted_address)
            if p in province_soil.keys():
                province_soil[p].append(geo_tmp['soil'][(geo_tmp.latitude == big_lo_la_df.iloc[i].latitude) & (geo_tmp.longitude == big_lo_la_df.iloc[i].longitude)].values[0])
            else:
                province_soil[p] = []
                province_soil[p].append(geo_tmp['soil'][(geo_tmp.latitude == big_lo_la_df.iloc[i].latitude) & (geo_tmp.longitude == big_lo_la_df.iloc[i].longitude)].values[0])
        
        for x in range(len(big_lo_la_df.iloc[i].address_components)):
            for key,value in big_lo_la_df.iloc[i].address_components[x].items():
                #print(value)
                if p in value:
                    #print(p,geo_tmp['soil'][(geo_tmp.latitude == big_lo_la_df.iloc[i].latitude) & (geo_tmp.longitude == big_lo_la_df.iloc[i].longitude)])
                    #print(p,big_lo_la_df.iloc[i].longitude,big_lo_la_df.iloc[i].latitude)
                    if p in province_soil.keys():
                        province_soil[p].append(geo_tmp['soil'][(geo_tmp.latitude == big_lo_la_df.iloc[i].latitude) & (geo_tmp.longitude == big_lo_la_df.iloc[i].longitude)].values[0])
                    else:
                        province_soil[p] = []
                        province_soil[p].append(geo_tmp['soil'][(geo_tmp.latitude == big_lo_la_df.iloc[i].latitude) & (geo_tmp.longitude == big_lo_la_df.iloc[i].longitude)].values[0])



province_soil

{'Bairrada': ['Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols'],
 'Douro': ['Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Anthrosols',
  'Leptosols',
  'Leptosols',
  'Leptosols',
  'Leptosols',
  'Leptosols',
  'Leptosols'],
 'Dão': ['Leptosols', 'Leptosols', 'Leptosols'],
 'Minho': ['Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols',
  'Acrisols'],
 'Tejo': ['Luvisols',
  'Luvisols',
  'Luvisols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Planosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Regosols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Cambisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Alisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols',
  'Luvisols']}

In [22]:
copy_province_soil = province_soil.copy()
for key, val in copy_province_soil.items():
    copy_province_soil[key] = max(set(val), key=val.count)
copy_province_soil

{'Bairrada': 'Acrisols',
 'Douro': 'Anthrosols',
 'Dão': 'Leptosols',
 'Minho': 'Acrisols',
 'Tejo': 'Cambisols'}

In [23]:
# lijst met provinces en coords:
# for coords [long of lat] in soil database:
# df.loc[df['latitude'] == coords]:
# give back df.soil en give back province

In [24]:
df.province.value_counts()

Douro                    737
Alentejano               446
Tejo                     220
Lisboa                   199
Dão                      146
Alentejo                 109
Bairrada                  61
Península de Setúbal      34
Beira Interior            18
Setubal                   12
Ribatejano                 9
Ribatejo                   8
Algarve                    8
Estremadura                7
Portuguese Table Wine      7
Obidos                     7
Trás-os-Montes             6
Alenquer                   5
Duriense                   5
Terras do Dão              4
Minho                      3
Terras do Sado             3
Vinho Verde                2
Beiras                     2
Table wine                 1
Vinho Licoroso             1
Palmela                    1
Beira Atlantico            1
Vinho da Mesa              1
Portugal                   1
Name: province, dtype: int64

In [25]:
df_tmp = df.copy()
df_tmp.dropna(inplace=True)

In [54]:
def replace_province(x):
    return copy_province_soil[x]

In [82]:
# Here we make en temporary dataset without nan values
# ['fixed_acidity','volatile_acidity','citric_acid','residual_sugar','chlorides','free_sulfur_dioxide','total_sulfur_dioxide','density','sulphates','alcohol']
X = df_tmp.drop(['points','country','description','designation','price','taster_name','title','variety','winery'],axis=1)
#X.set_index('province')
print(len(X))
X = X[X['province'].isin(copy_province_soil.keys())]
print(len(X))
X['soil'] = X['province'].copy()
X['soil'] = X['soil'].map(replace_province)
X

2064
1167

,province,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,soil
id,,,,,,,,,,,,,
1,Douro,10.0,0.29,0.4,2.9,0.098,10.0,26.0,10.006,3.48,0.91,9.7,Anthrosols
7,Tejo,10.8,0.47,0.43,2.1,0.171,27.0,66.0,0.9982,3.17,0.76,10.8,Cambisols
10,Douro,7.0,0.69,0.07,2.5,0.091,15.0,21.0,0.99572,3.38,0.60,11.3,Anthrosols
11,Douro,8.8,0.27,0.46,2.1,0.095,20.0,29.0,0.99488,3.26,0.56,11.3,Anthrosols
13,Douro,9.3,0.27,0.41,2.0,0.091,6.0,16.0,0.998,3.28,0.70,9.7,Anthrosols
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,Tejo,7.2,0.57,0.06,1.6,0.076,9.0,27.0,0.9972,3.36,0.70,9.6,Cambisols
2457,Bairrada,7.2,0.50,0.18,2.1,0.071,12.0,31.0,0.99761,3.52,0.72,9.6,Acrisols
2460,Douro,7.4,0.58,-,2.0,0.064,7.0,11.0,0.99562,3.45,0.58,11.3,Anthrosols
2462,Dão,9.2,0.41,0.5,2.5,0.055,12.0,25.0,0.9952,3.34,0.79,13.3,Leptosols
2463,Douro,8.9,0.40,0.51,2.6,0.052,13.0,27.0,0.995,3.32,0.90,13.4,Anthrosols

In [83]:
means = {}
for soil in copy_province_soil.values():
    #if soil in means.keys():
    means[soil] = X[X.soil == soil].describe().loc['mean']
        
means = pd.DataFrame(means)
means

                       Acrisols  Anthrosols  Leptosols  Cambisols
fixed_acidity          8.020312    8.403121   8.581507   8.429545
volatile_acidity       0.521016    0.513012   0.503151   0.540091
residual_sugar         2.356250    2.578426   2.788699   2.817045
chlorides              0.084078    0.087474   0.085747   0.086223
free_sulfur_dioxide   18.078125   15.324966  16.592466  16.688636
total_sulfur_dioxide  56.000000   45.533243  48.260274  51.720455
pH                     3.344844    3.307626   3.291644   3.298091
sulphates              0.656719    0.676662   0.660685   0.649364

TypeError: scatter() missing 1 required positional argument: 'y'